<div class='collective'>
  <div class='cart' *ngIf="products">
      <div class='card' *ngFor="let item of products">
          <img src="{{ item.image }}" alt="{{ item.name }}">
          <br>
          <div class='name'>{{ item.name }}</div>
          <br>
          <div class='price'>{{ item.price.amount + " " + item.price.currency + "/" + item.price.measureUnit }}</div>
          <br>
          <button (click)="toCart(item.id)">DODAJ</button>
      </div>
  </div>

  <div class='side'>
      <div class='sideHeader'>
        <h1>Kosarica</h1>
      </div>
      <div class='card' *ngFor="let product of inCart">
        <div class='thumbnail'>
          <img src="{{product.image}}" alt="{{product.name}}">
        </div>
        <div class='counts'>
          <span class='productCount'>{{product.count}}x</span>
          <br>
          <div class='addRem'>
            <button class='add' (click)="remCount(product.id)">-</button>
            <button class='remove' (click)="addCount(product.id)">+</button>
          </div>
        </div>
        <div class='twoProds'>
          <span class='productName'>{{product.name}}</span>
          <span class='productPrice'>Ukupno: {{product.price * product.count}} kn</span>
        </div>
        <button class='removeBtn' (click)="remProd(product.id)">x</button>
      </div> 
      <hr>
      <div class='sideFooter'>
        <div class='sumPrice'>
          <span class='iznosText'>Ukupan iznos:</span>
          <span class='ukupanIznos'>{{ sum.toFixed(2) }} kn </span>
        </div>   
        <div class='ftrBtn'>
          <button>Checkout</button>
        </div>
      </div>
      
  </div>
</div>
