 .cart{
     width: 80%;
     height: 100%;
    .card{
        width: 270px;
        height: 380px;
        border: 1px solid black;
        text-align: center;
        display: inline-block;
        margin: 6px 6px;
        img{
            margin-top: 15px;
            width: 90%;
            border: 1px solid #000000;        
        }
        .name{
            width: 90%;
            font-size: 1.1rem;
            display: inline-block;
            overflow: hidden;
                text-overflow: ellipsis;
            white-space: nowrap;
        }
        .price{
            font-size: 1.1rem;
            padding-top: 6px;
        }
        button{   
            width: 45%;
            height: 2rem;
            background-color: #eeeeee;
            border: 1px solid #dddddd;
        }
        button:hover{
            background-color: #e6e6e6;
        }
    }
 }

 .side{
    position: absolute;
    top: 0;
    right: 0;
    left: 80%;
    bottom: 0;
    background-color: #eeeeee;
}